body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

footer {
background-color: whitesmoke;
text-align: center;
padding: 1%;
}

h2 {
  margin-top: 0;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Grid Styles */
.aboutme, .work, .contactme {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
}

/* About Section */
.aboutme {
  grid-column: 1 / span 2;
  grid-row: 1;
  background-color: whitesmoke;
}

/* Work Section */
.work {
  grid-column: 1 / span 3;
  grid-row: 2;
  background-color: lightgray;
}

.work ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.work li {
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 5px;
}

/* Contact Section */
.contactme {
  grid-column: 3;
  grid-row: 1 / span 2;
  background-color: whitesmoke;
}

.contactme ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.contactme li {
  margin-bottom: 5px;
}

/* Header Styles */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  padding: 10px;
}

.header h1 {
  color: white;
  margin: 0;
  font-size: 36px;
}

.header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 24px;
}

.header a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}