body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

footer {
background-color: #97BC62FF;
text-align: center;
padding: 1%;
}

h2 {
  margin-top: 0;
  border-right: 2px solid black;
  width: 15%;
  margin-right: 5%;
  font-size: 40px;
  text-align: right;
  padding-right: 40px;
}
section p {
  width: 75%;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* Grid Styles */
.aboutme, .work, .contactme {
  display: flex;
  padding: 20px;
  background-color: #97BC62FF
}

/* Work Section */

.work ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.work li {
  margin-bottom: 20px;
  padding: 10px;
}

/* Contact Section */
.contactme ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 300px;
  height: 100px;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C5F2D;
}

.header h1 {
  color: white;
  margin: 0;
  font-size: 36px;
}

.header ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 24px;
}

.header a:hover {
  background-color: #97BC62FF;
  border-radius: 5px;
}