body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightgrey;
    }

h1{
    text-align: center;
    color:white;
    background-color:blue;
    padding: 10px;
    margin:auto
}

.header ul{
    text-align: right; 
    margin-right: 10px; 
  }

.aboutme, .work, .contactme {
display: grid;
float: left;
grid-template-columns: 100px 700px;
padding: 60px;
margin: 50px;
}

.work{
   column-gap: 500px;
   border-style: solid;
}

.contactme{
  border-bottom-style: solid;
  border-bottom-color: navy;
}